<div class="topnav-all" id="myTopnav">

    <div class="topnav myNavbar">

        <a asp-area="" asp-controller="Home" asp-action="Index" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Home" id="home" style="padding-top: 11px; padding-bottom: 13px; border-right: 1px solid white;">
            <img class="z-logo-icon" src="" alt="Zonart logo" style="" />
        </a>

        <a asp-area="" asp-controller="About" asp-action="OurStory" id="about">About</a>

        <a asp-area="" asp-controller="Services" asp-action="All" id="services">Services</a>

        <div class="dropdown" id="projects">
            <button type="submit" href="/Projects/All" class="dropbtn" id="projects">Projects<i class="fa fa-caret-down fa-xs"></i></button>
            <div class="dropdown-content" id="">
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="All" id="projects">All</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Brochures" id="brochures">Brochures</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Logos" id="logos">Logos</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Books" id="books">Books</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Posters" id="posters">Posters</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Kids" id="kids">Kids</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Web" id="web">Web</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Stationary" id="stationary">Stationary</a>
                <a class="custom-link" asp-area="" asp-controller="Projects" asp-action="Variety" id="variety">Variety</a>
            </div>
        </div>

        <a asp-area="" asp-controller="Templates" asp-action="All" id="templates">Templates</a>

        <a asp-area="" asp-controller="Contact" asp-action="Add" id="contact">Contact</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            &#9776;
        </a>

        @if (SignInManager.IsSignedIn(User))
        {
            var userIsAdmin = User.IsInRole(WebConstants.AdminRoleName);

            if (userIsAdmin)
            {
                <a class="admin nav-right" style="float:right; font-weight: 100; width: 57px; height: 50px" asp-area="" asp-controller="Users" asp-action="WelcomeAdmin" id="admin" title="Admin" data-toggle="tooltip" data-placement="bottom" data-container="body">
                    <img class="admin" alt="Admin" />
                </a>

            }

            <a class="user-logout nav-right" style="float:right; font-weight: 100; width: 57px; height: 50px" asp-area="" asp-controller="Users" asp-action="Logout" id="logout" title="Logout" data-toggle="tooltip" data-placement="bottom" data-container="body">
                <img class="logout-user" alt="Logout" />
            </a>

        }

        else
        {
            <a class="user-login nav-right" style="float: right; font-weight: 100; width: 57px" asp-area="" asp-controller="Users" asp-action="Login" id="login" title="Login" data-toggle="tooltip" data-placement="bottom" data-container="body">
                <img class="login-user" alt="Login" />
            </a>

            <a class="user-register nav-right" style="float: right; font-weight: 100; width: 57px" asp-area="" asp-controller="Users" asp-action="Register" id="register" title="Register" data-toggle="tooltip" data-placement="bottom" data-container="body">
                <img class="register-user" alt="Register" />
            </a>
        }

        <a class="questions nav-right" style="float: right; font-weight: 100; width: 55px; height: 50px" asp-area="" asp-controller="Questions" asp-action="All" id="questions" title="Questions" data-toggle="tooltip" data-placement="bottom" data-container="body">
            <img class="questions" alt="questions" />
        </a>

        <a class="nav-right" style="float:right; font-size: 16px; cursor: pointer; width: 57px;" onclick="openNav()" title="Explore" data-toggle="tooltip" data-placement="bottom" data-container="body"><img class="compass" alt="explore" /></a>

        <!--<partial name="_LoginPartial" />-->
    </div>

</div>