
@{
    ViewData["Title"] = "Projects";
}


<div class="hover-direction-gallery">

    <ul class="grid">
        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Brochures" style="display: block; height: 100%;">
                <img src="../Images/projects/brochures/brochure-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Brochures</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Logos" style="display: block; height: 100%;">
                <img src="../Images/projects/logos/logo-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Logos</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Books" style="display: block; height: 100%;">
                <img src="../Images/projects/books/book-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Books</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Posters" style="display: block; height: 100%;">
                <img src="../Images/projects/posters/poster-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Posters</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Kids" style="display: block; height: 100%;">
                <img src="../Images/projects/kids/kids-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Kids</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Web" style="display: block; height: 100%;">
                <img src="../Images/projects/web/web-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Web</span>
            </a>
        </li>

        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Stationary" style="display: block; height: 100%;">
                <img src="../Images/projects/stationary/stationary-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Stationary</span>
            </a>
        </li>

        <li>
            <a asp-area="" asp-controller="Projects" asp-action="Variety" style="display: block; height: 100%;">
                <img src="../Images/projects/variety/variety-design.jpg" alt="" style="display: block;height: 100%;max-width: 100%;width: 100%;object-fit: cover;">
                <span class="description">Variety</span>
            </a>
        </li>

    </ul>
</div>


<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#projects").addClass("active");
    });
</script>
