@{
    ViewData["Title"] = "Brochure Design";
}


<div>
    <img src="../Images/projects/brochures/brochures.jpg" style="max-width: 100%; height: auto;" />
</div>

<div class="container position-relative text-center" style="background-color: #949598; height: 50px">
    <a asp-area="" asp-controller="Projects" asp-action="Brochures">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>




<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#projects").addClass("active");
    });
</script>