@{
    ViewData["Title"] = "Logos";
}



<div class="container text-center" style="background-color: white;  height: 100px; padding-top: 80px; font-family: Jost; padding-bottom: 50px">

    <a class="mr-2 pr-3 pl-3 pb-2 pt-2" asp-area="" asp-controller="Projects" asp-action="Brochures" id="logos" style="border: 1.5px solid dimgray; color: dimgray; ">Brochures</a>

    <a class="mr-2 pr-3 pl-3 pb-2 pt-2" asp-area="" asp-controller="Projects" asp-action="Logos" id="logos" style="border: 1.5px solid dimgray;color: dimgray;background-color: #c2c3c5">Logos</a>

    <a class="mr-2 pr-3 pl-3 pb-2 pt-2" asp-area="" asp-controller="Projects" asp-action="Books" id="books" style="border: 1.5px solid dimgray; color: dimgray">Books</a>

    <a class="mr-2 pr-3 pl-3 pb-2 pt-2" asp-area="" asp-controller="Projects" asp-action="Posters" id="posters" style="border: 1.5px solid dimgray; color: dimgray">Posters</a>

    <a class="mr-2 pr-3 pl-3 pb-2 pt-2" asp-area="" asp-controller="Projects" asp-action="Kids" id="kids" style="border: 1.5px solid dimgray; color: dimgray">Kids</a>

    <a class="mr-2 pr-3 pl-3 pb-2 pt-2" asp-area="" asp-controller="Projects" asp-action="Kids" id="kids" style="border: 1.5px solid dimgray; color: dimgray">Web</a>

    <a class="mr-2 pr-3 pl-3 pb-2 pt-2" asp-area="" asp-controller="Projects" asp-action="Kids" id="kids" style="border: 1.5px solid dimgray; color: dimgray">Variety</a>

</div>


<div>
    <img src="../Images/projects/logos/logos.jpg" style="max-width: 100%; height: auto; z-index: -1" />
</div>

<div class="container position-relative text-center" style="background-color: black; height: 50px; color: dimgray; padding-top: 15px">
    <a asp-area="" asp-controller="Projects" asp-action="Logos">
        <i class="fas fa-chevron-up" style="color: dimgray"></i>
    </a>
</div>




<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#projects").addClass("active");
    });
</script>



