

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="row" style="margin: 0px 20px 0px 20px">
    @foreach (var order in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3 mt-5" style="border-radius: 0">
                <img class="card-img-top" style="border-radius: 0" src="@order.ImageUrl" alt="">
                <div class="card-body text-center">
                    <h4 class="card-title text-center">@order.Name</h4>
                    <h2 class="card-title text-center">@order.Price</h2>
                    <a asp-controller="Templates" asp-action="Details" asp-route-id="@order.Id" class="btn btn-primary" style="background-color: orangered; border: none"></a>
                </div>
            </div>
        </div>
    }
</div>