@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Questions";
}

@{
    var userIsAdmin = User.IsInRole(WebConstants.AdminRoleName);
}

@model List<QuestionsListingViewModel>


<div class="row mt-5 mb-5 ml-5 mr-5" style="margin-bottom:100px">
    <div class="col-12">
        <h2 style="font-size:34px; text-align:center; padding-top:100px; padding-bottom:40px">Frequently Asked Questions</h2>
    </div>

    @foreach (var question in Model)
    {
        <div class="col-8 offset-2">
            <button class="accordion mb-2">@question.Text</button>
            <div class="panel mt-4 mb-5">
                <p>@question.Answer</p>
            </div>
        </div>
    }

</div>



<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>



<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#questions").addClass("active");
    });
</script>