@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<div class="row mt-5 mb-5 ml-5 mr-5" style="">
    <div class="col-12">
        <h2 style="font-size:34px; text-align:center; padding-top:100px; padding-bottom:40px">Frequently Asked Questions</h2>
    </div>

    <div class="col-8 offset-2">
        <button class="accordion mb-2">Question 1</button>
        <div class="panel mt-4 mb-5">
            <p>Answer to question 1:<br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="col-8 offset-2">
        <button class="accordion mb-2">Question 2</button>
        <div class="panel mt-4 mb-5">
            <p>Answer to question 2:<br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="col-8 offset-2">
        <button class="accordion mb-2">Question 3</button>
        <div class="panel mt-4 mb-5">
            <p>Answer to question 3:<br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="col-8 offset-2">
        <button class="accordion mb-2">Question 4</button>
        <div class="panel mt-4 mb-5">
            <p>Answer to question 4:<br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="col-8 offset-2">
        <button class="accordion mb-2">Question 5</button>
        <div class="panel mt-4 mb-5">
            <p>Answer to question 5:<br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="col-8 offset-2">
        <button class="accordion mb-2">Question 1</button>
        <div class="panel mt-4 mb-5">
            <p>Answer to question 1:<br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>







<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>



<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#questions").addClass("active");
    });
</script>