@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model LoginUserModel

@{
    ViewData["Title"] = "Welcome";
}



<div class="row mt-5 mb-5 ml-5 mr-5" style="padding-top:70px; margin-bottom:100px">
    <div class="col mt-5 mb-5 ml-5 mr-5" style="text-align:center">

        <h2 style="font-size:40px">Welcome <br />@Model.FullName!</h2>
        <p style="font-size:25px">We'd love to create something amazing together!</p>

        <div class="row mt-5" style="text-align:center">

            <div class="col pl-2 pr-2" style="font-weight:500">
                <form action="/Home/Index">
                    <div class="">
                        <input type="submit" value="Explore">
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>

