@model TemplateLayoutModel

@{
    ViewData["Title"] = "Template Details";
}


<h1 style="padding-top:100px; padding-bottom:10px; text-align:center; font-family:Jost; font-variant-caps:all-petite-caps; font-size:30px">@Model.Name</h1>
<h4 style="margin-top: 10px; margin-bottom: 40px; text-align: center; font-style: italic; color: gray">@Model.Description</h4>

<img src="../../Images/gallery/(@Model.Id).jpg" style="max-width: 100%; height: auto;" />


<div class="bg-text">
    <a href="/Orders/Create?templateId=@Model.Id">Order</a>
</div>


<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#templates").addClass("active");
    });
</script>