@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@model OrderTemplateModel

@{
    ViewData["Title"] = "Order";
}

@{

    var idNumber = Model.TemplateId;

    var templateName = string.Empty;

    switch (Model.TemplateId)
    {
        case 1:
            templateName = "Eternity";
            break;
        case 2:
            templateName = "Joy";
            break;
        case 3:
            templateName = "Wisdom";
            break;
        case 4:
            templateName = "Waves";
            break;
        case 5:
            templateName = "Business";
            break;
        case 6:
            templateName = "Wild";
            break;
        case 7:
            templateName = "Peace";
            break;
        case 8:
            templateName = "Clear";
            break;
    }
}






<div class="bg-img" style="background-image: url('../../Images/gallery/(@idNumber).jpg')" ; margin-top: 50px">
    <form method="post" class="container-order-form">
        <h3 class="title-contact" style="margin-top: 1rem; margin-bottom: 1rem">Order for template</h3>
        <h1 style="margin-bottom: 3rem">@templateName</h1>

        <div class="form-group">
            <input asp-for="Email" class="form-control mb-0" placeholder="Your email...">
            <span asp-validation-for="Email" class="small text-danger mt-2"></span>
        </div>

        <div>
            <input class="mt-lg-30 mt-30 col-lg-14 btn btn-block spacing-lg" type="submit" value="Submit" style="margin-bottom: 20px" />
        </div>

    </form>
</div>



