@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model OrderTemplateModel

@{
    ViewData["Title"] = "Order";
}



<div class="bg-img container-fluid-new" style="        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../Images/gallery/(@Model.TemplateId).jpg')">

    <form method="post" class="container-order-form">

        <h3 class="title-contact" style="margin-top: 1rem; margin-bottom: 1rem; text-align: center">Order for template</h3>
        <h1 style="margin-bottom: 3rem; text-align: center">@Model.Name</h1>

        <div class="form-group">
            <label asp-for="Name">Your Full Name</label>
            <input asp-for="Name" class="form-control mb-0" placeholder="Your name...">
            <span asp-validation-for="Name" class="small text-danger mt-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Your Email</label>
            <input asp-for="Email" class="form-control mb-0" placeholder="Your email...">
            <span asp-validation-for="Email" class="small text-danger mt-2"></span>
        </div>

        <div>
            <input class="mt-lg-30 mt-30 col-lg-14 btn btn-block spacing-lg" type="submit" value="Order" style="margin-bottom: 20px" />
        </div>

    </form>
</div>



