@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model OrderTemplateModel

@{
    ViewData["Title"] = "Order";
}


@{
    var templateName = String.Empty;

    switch (Model.TemplateId)
    {
        case 1:
            templateName = "Eternity";
            break;
        case 2:
            templateName = "Elegant";
            break;
        case 3:
            templateName = "Wisdom";
            break;
        case 4:
            templateName = "Waves";
            break;
        case 5:
            templateName = "Happy";
            break;
        case 6:
            templateName = "Wild";
            break;
    }

}



<div class="bg-img container-fluid-new" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../Images/gallery/(@Model.TemplateId).jpg')">

    <form method="post" class="container-order-form">

        <div asp-validation-summary="All" class="text-danger"></div>

        <p class="" style="margin-top:1rem; margin-bottom:1rem; text-align: center; font-variant-caps:all-petite-caps; font-weight:300; font-family:Montserrat; letter-spacing:1.5px; font-size:24px">Order for template</p>

        <h1 style="margin-bottom: 5rem; text-align: center">@templateName</h1>

        <div class="form-group">
            <label asp-for="FullName">Your Full Name</label>
            <input asp-for="FullName" class="form-control mb-0">
            <span asp-validation-for="FullName" class="small text-danger mt-2"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Your Email</label>
            <input asp-for="Email" class="form-control mb-0">
            <span asp-validation-for="Email" class="small text-danger mt-2"></span>
        </div>

        <div>
            <input class="mt-lg-30 mt-30 col-lg-14 btn btn-block spacing-lg" type="submit" value="Order" style="margin-bottom: 20px" />
        </div>

    </form>
</div>



