@{
    ViewData["Title"] = "Categories";
}


<div class="row">
    <div class="col" style="margin-top: 60px;">
        <div class="post" href="#" >
            <a asp-area="" asp-controller="Categories" asp-action="Brochures" />
            <h2 class="post-title">Fancy hovers is the next big thing in web design</h2>
        </div>
    </div>

    <div class="col" style="margin-top: 60px;">
        <div class="post" href="#">
            <a asp-area="" asp-controller="Categories" asp-action="Brochures" />
            <h2 class="post-title">Fancy hovers is the next big thing in web design</h2>
        </div>
    </div>

</div>

<div class="row">
    <div class="col" style="margin-top: 0px;">
        <div class="post" href="#" >
            <a asp-area="" asp-controller="Categories" asp-action="Brochures" />
            <h2 class="post-title">Fancy hovers is the next big thing in web design</h2>
        </div>
    </div>

    <div class="col" style="margin-top: 0px;">
        <div class="post" href="#">
            <a asp-area="" asp-controller="Categories" asp-action="Brochures" />
            <h2 class="post-title">Fancy hovers is the next big thing in web design</h2>
        </div>
    </div>

</div>




<!--<div class="container galery-collection pt-100 pb-5">

    <div class="gallery">
        <a asp-area="" asp-controller="Categories" asp-action="Logos">
            <div class="container-image-1">

                <h5 class="position-absolute" style="top: 43%; left: 35%; color:dimgray">Logos</h5>
                <div class="overlay">
                    <div class="text">Logos</div>
                </div>
                <img src="~/Images/books.png" class="image">

            </div>
        </a>
    </div>

    <div class="gallery">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <div class="container-image">
                <img src="~/Images/books.png" class="image">
                <div class="overlay">
                    <div class="text">Books</div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery">
        <a asp-area="" asp-controller="Categories" asp-action="Brochures">
            <div class="container-image">
                <img src="~/Images/books.png" class="image">
                <div class="overlay">
                    <div class="text">Brochures</div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <div class="container-image">
                <img src="~/Images/books.png" class="image">
                <div class="overlay">
                    <div class="text">Brochures</div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <div class="container-image">
                <img src="~/Images/books.png" class="image">
                <div class="overlay">
                    <div class="text">Brochures</div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <div class="container-image">
                <img src="~/Images/books.png" class="image">
                <div class="overlay">
                    <div class="text">Brochures</div>
                </div>
            </div>
        </a>
    </div>

    <div class="gallery">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <div class="container-image">
                <img src="~/Images/books.png" class="image">
                <div class="overlay">
                    <div class="text">Brochures</div>
                </div>
            </div>
        </a>
    </div>

</div>

    -->


<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#categories").addClass("active");
    });
</script>