@{
    ViewData["Title"] = "Brochures";
}

<div class="container-g">
    <div class="mySlides">
        <div class="numbertext">1 / 10</div>
        <img src="~/Images/gallery/1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 10</div>
        <img src="~/Images/gallery/2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 10</div>
        <img src="~/Images/gallery/3.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">4 / 10</div>
        <img src="~/Images/gallery/4.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">5 / 10</div>
        <img src="~/Images/gallery/5.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">6 / 10</div>
        <img src="~/Images/gallery/6.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">7 / 10</div>
        <img src="~/Images/gallery/1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="~/Images/gallery/2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">9 / 10</div>
        <img src="~/Images/gallery/3.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">10 / 10</div>
        <img src="~/Images/gallery/4.jpg" style="width:100%">
    </div>

    <a class="prev-g" onclick="plusSlides(-1)">❮</a>
    <a class="next-g" onclick="plusSlides(1)">❯</a>



    <div class="row-g">
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/1-s.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/2-s.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/3-s.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/4-s.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/5-s.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/6-s.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/1-s.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/2-s.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/3-s.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
        </div>
        <div class="column-g">
            <img class="demo cursor" src="~/Images/gallery/4-s.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#categories").addClass("active");
    });
</script>