@{
    ViewData["Title"] = "One";
}




<link rel="stylesheet" type="text/css" media="all"
      href="~/css/skeleton.css">

<link rel="stylesheet" type="text/css" media="all" href="~/css/style.css">
<link rel="stylesheet" type="text/css" media="all" href="~/css/site.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link rel='stylesheet' id='vcv:assets:front:style-css' href='~/css/front.bundle.css' type='text/css' media='all' />

<script type='text/javascript' src='~/js/jquery.min.js' id='jquery-core-js'></script>

<script type='text/javascript' src='~/js/jquery-migrate.min.js' id='jquery-migrate-js'></script>


<script type='text/javascript' src='~/js/js_composer_front.min.js' id='wpb_composer_front_js-js'></script>

<script type='text/javascript' src='~/js/vc-waypoints.min.js' id='vc_waypoints-js'></script>




<style type="text/css" data-type="vc_shortcodes-custom-css">

    .vc_custom_1590422250900 {
        padding-top: 10% !important;
        padding-right: 10% !important;
        padding-bottom: 20% !important;
        padding-left: 10% !important;
        background-color: #f9f9f9 !important;
    }

    .vc_custom_1581397840110 {
        padding-top: 0px !important;
    }

    .vc_custom_1582046075600 {
        padding-top: 0px !important;
    }

    .vc_custom_1582046088306 {
        padding-top: 0px !important;
    }

    .vc_custom_1582046110362 {
        padding-top: 0px !important;
    }

    .vc_custom_1582046127276 {
        padding-top: 0px !important;
    }

    .vc_custom_1582046142653 {
        padding-top: 0px !important;
    }

    .vc_custom_1581397840110 {
        padding-top: 0px !important;
    }

    .vc_custom_1581397840110 {
        padding-top: 0px !important;
    }

    .vc_custom_1584561539468 {
        padding-top: 9% !important;
        padding-right: 50px !important;
        padding-bottom: 6% !important;
        padding-left: 50px !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582316986601 {
        background-image: url('../Images/OurStory/art-box-small.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582317041817 {
        background-image: url('../Images/OurStory/art-box-small.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582317074517 {
        background-image: url('../Images/OurStory/art-box-small.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582317096706 {
        background-image: url('../Images/OurStory/art-box-small.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582317149057 {
        background-image: url('../Images/OurStory/art-box-small.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582317178484 {
        background-image: url('../Images/OurStory/art-box-small.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582317227492 {
        background-image: url('../Images/OurStory/art-box-small.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1581397740318 {
        padding-top: 0px !important;
    }

    .vc_custom_1582317256604 {
        background-color: orangered;
        background-image: url() !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .vc_custom_1590086123990 {
        margin-bottom: 40px !important;
    }

    .vc_custom_1584561556580 {
        margin-bottom: 40px !important;
    }

    .vc_row:not(.home-zm-over) {
        width: 100%;
        margin: 0 auto !important;
    }
</style>









<div id="">

    <div class="container">

        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid ct_inn vc_custom_1590422250900 vc_row-has-fill">

            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <h3 style="font-size: 34px;color: #8f8f8f;font-family:'Jost';line-height: 48px;text-align: center; padding-top: 20px" class="vc_custom_heading services-heading">We are passionate about helping brands large and small communicate better with consumers. We believe beautiful design paired with a winning strategy is the key to brand success.</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid half_2 right_t vc_custom_1581397840110 vc_row-no-padding vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1581397740318">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid right_t case-studie-row vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Market Research</h3>
                                                <p style="text-align: center;">Through research we help you understand the consumer and how to best address their needs by establishing the best paths forward for your brand and/or product.</p>

                                            </div>
                                        </div>
                                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="" title="Case Studies New">VIEW CASE STUDIES</a></div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill"><div class="vc_column-inner vc_custom_1582316986601"><div class="wpb_wrapper"></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

        <div id="brand_strategy" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid half_2 right_t vc_custom_1582046075600 vc_row-no-padding vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1581397740318">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid left_t case-studie-row vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill"><div class="vc_column-inner vc_custom_1582317041817"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Brand Strategy</h3>
                                                <p style="text-align: center;">We craft bold brands. Whether from the ground up (hello, startups) or giving global brands a boost, our award-winning team creates inspired, strategic brand identities.</p>

                                            </div>
                                        </div>
                                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="" title="Case Studies New">VIEW CASE STUDIES</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

        <div id="branding" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid half_2 right_t vc_custom_1582046088306 vc_row-no-padding vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1581397740318">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid right_t case-studie-row vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Branding</h3>
                                                <p style="text-align: center;">Our strategists &amp; designers work to develop brands that go well beyond their visual identities. From messaging to comprehensive brand guides we deliver the tools your brand needs to be a success now and well into the future.</p>

                                            </div>
                                        </div>
                                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="" title="Case Studies New">VIEW CASE STUDIES</a></div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill"><div class="vc_column-inner vc_custom_1582317074517"><div class="wpb_wrapper"></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

        <div id="packaging" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid half_2 right_t vc_custom_1582046110362 vc_row-no-padding vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1581397740318">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid left_t case-studie-row vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill"><div class="vc_column-inner vc_custom_1582317096706"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Packaging Design</h3>
                                                <p style="text-align: center;">Need a box? We’ll design you a meaningful, memorable, eye catching one that delivers a rewarding unpacking experience while staying cost effective and environmentally sustainable.</p>

                                            </div>
                                        </div>
                                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="" title="Case Studies New">VIEW CASE STUDIES</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

        <div id="product_design" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid half_2 right_t vc_custom_1582046127276 vc_row-no-padding vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1581397740318">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid right_t case-studie-row vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Product Design</h3>
                                                <p style="text-align: center;">We develop products that stand out, both functionally and aesthetically, whether they&#8217;re in-home accessories, digital services, branded experiences, or consumer electronics.</p>

                                            </div>
                                        </div>
                                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="" title="Case Studies New">VIEW CASE STUDIES</a></div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill"><div class="vc_column-inner vc_custom_1582317149057"><div class="wpb_wrapper"></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

        <div id="digital_design" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid half_2 right_t vc_custom_1582046142653 vc_row-no-padding vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1581397740318">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid left_t case-studie-row vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill"><div class="vc_column-inner vc_custom_1582317178484"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Digital Design</h3>
                                                <p style="text-align: center;">We breathe life into your brand with engaging digital touchpoints. Balancing ease-of-use, efficient and effective messaging, and striking aesthetics, we design transformative digital experiences.</p>

                                            </div>
                                        </div>
                                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="" title="Case Studies New">VIEW CASE STUDIES</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid half_2 right_t vc_custom_1581397840110 vc_row-no-padding vc_row-o-equal-height vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1581397740318">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid right_t vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;">Experience Design</h3>
                                                <p style="text-align: center;">We create spaces where customers interact with the brand and get acquainted with its values and mission as well as with the company’s value proposition. We integrate physical and digital seamlessly and aim for nothing less than the most meaningful customer experience in retail environments, trade shows and exhibits.</p>

                                            </div>
                                        </div>


                                        <div class="vc_btn3-container  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="/" title="Case Studies New">VIEW CASE STUDIES</a></div>
                                    </div>
                                </div>
                            </div>


                            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                                <div class="vc_column-inner vc_custom_1582317227492">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row-full-width vc_clearfix"></div>

    </div>
</div>























