@{
    ViewData["Title"] = "One";
}



    <div class="row-custom" >
        <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8 offset-md-2 col-md-8">
            <div id="main">
                <ul class="grow" style="padding-left: 0">


                    <li class="list-spec" style="font-size:70px">Two</li>
                    <li class="list-spec" style="font-size:70px">Three</li>
                    <li class="list-spec" style="font-size:70px">Four</li>
                    <li class="list-spec" style="font-size:70px">Five</li>
                    <li class="list-spec" style="font-size:70px">Six</li>
                    <li class="list-spec" style="font-size:70px">Seven</li>
                    <li class="list-spec" style="font-size:70px">Eight</li>
                    <li class="list-spec" style="font-size:70px">Nine</li>
                    <li class="list-spec" style="font-size:70px">Ten</li>
                    <li class="list-spec" style="font-size:70px">Eleven</li>
                    <li class="list-spec" style="font-size:70px">Twelve</li>

                </ul>

            </div>
        </div>
        
</div>


<script src="../js/stroll.min.js"></script>
<script>
    stroll.bind('#main ul');
</script>