@{
    ViewData["Title"] = "Two";
}



<!--<div class="right-side-panel">
    <div class="row ">
<div class="col-sm-6 " style="background-color:white; height:400px; text-align:center; display: flex; align-items: center; justify-content: center">
            <div class="pr-5 pl-5 pb-5 pt-5">
                <p class="mb-2 mr-5 ml-5" style="font-size:70px;font-family:Playfair Display; letter-spacing: -3px">Zonart</p>

                <div class="btn btn-spec">
                    <a class="pt-2 pb-2 pl-4 pr-4" style="font-weight: 400" asp-controller="Projects" asp-action="All">VIEW PROJECTS</a>
                </div>
            </div>
        </div>

    </div>
</div>-->





<div class="wpb_wrapper">
    <div class="vc_row wpb_row vc_inner vc_row-fluid left_t case-studie-row vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">


        <div class="wpb_column vc_column_container vc_col-sm-6" style="height:500px">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_start_animation animated">
                        <div class="wpb_wrapper">

                            <p class="pt-4 pb-0 mb-0"style="font-size:70px;font-family:Playfair Display; letter-spacing: -3px; text-align: center">Zonart</p>
                            <p style="text-align: center" class="pr-5 pl-5 mr-5 ml-5">That’s the name we’ve given to projects with tight deadlines, limited quantities, top quality and complicated logistics that call for an end to end solution from design to sourcing to manufacturing and delivery.</p>
                            <hr class="solid mt-4 mb-0 pt-0 pb-0" style="border-top:4px solid orangered;width: 25%">
                        </div>
                    </div>
                    <div class="pb-5 mb-5 vc_btn3-container wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight vc_btn3-center wpb_start_animation animated">
                    
                        <a class="btn btn-spec pt-2 pb-2 pl-4 pr-4" style="font-weight: 400" asp-controller="Projects" asp-action="All">VIEW PROJECTS</a>
                    
                    </div>

                    
                </div>
            </div>
        </div>

        <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill" style="height:500px">
            <div class="vc_column-inner vc_custom_1582317256604" style="background-image: url('../Images/OurStory/art-box-small.png') !important; background-position: center !important; background-repeat: no-repeat !important; background-size: cover !important;">

            </div>
        </div>

    </div>
</div>









<script>
    $(document).ready(function () {
        $(".right-side-panel").css("margin-left", "50px");
        $(".left-side-panel").css("margin-left", ($("body").width() - $(".left-side-panel").width()) + "px");
    });
</script>